<% if book.favorited_by?(current_user) %>

  <div class="LikesIcon">
    <%= link_to book_favorites_path(book), class:"like", method: :delete, remote: true do %>
      <i class="fas fa-heart"></i>
    <% end %>
    <%= book.favorites.count %>

  <% else %>

    <%= link_to book_favorites_path(book), class:"like", method: :post, remote: true do%>
      <i class="far fa-heart"></i>
    <% end %>
    <%= book.favorites.count %>
  </div>

<% end %>