<div class="container">
  <div class="row">
    <h2>Follow Users</h2>

    <% if @users.present? %>
      <%= render "relationships/follow_list", user: @user, users:@users %>
    <% else %>
     <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Follows</th>
          <th>Follows</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>ユーザーはいません</td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>